html{
  -webkit-tap-highlight-color: transparent;
}

*, :after, :before {
  box-sizing: inherit;
}

body {
  background-color: rgb(241, 241, 241);
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 100%;
  line-height: 20px;
  margin: 0;
  padding: 0;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  overflow-y: hidden;
}

.header {
  background-color: rgba(255, 255, 255);
  box-shadow:0 2px 2px rgba(0,0,0,0.05), 0 1px 0 rgba(0,0,0,.05);
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-style: normal;
  height: 70px;
  line-height: 50px;
  width: 100%;
  padding: 10px 15px 10px 15px;
  text-size-adjust: 100%;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.sidebarcontainer {
  -webkit-box-flex: 1;
  height: 100%;
  display: flex;
  flex: 1 0;
  justify-content: flex-start;
  margin-right: auto;
  max-width: 150px;
}

.teamicon {
  height: 25px;
  width: 25px;
  margin-bottom: 10px;
  justify-self: center;
}

.teamview {
 margin-right: px;
 justify-self: center;
}

.tv {
  letter-spacing: .2rem;
  font-weight: 600;
}

.sidebarcollapse {
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 40px 120px;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: .9rem;
  font-style: normal;
  color: #667d88;
  cursor: pointer;
  border: none;
  outline: none;
}

.bdheader {
  height: 100%;
  display: flex;
  flex: 1 0;
  justify-content: flex-end;
  margin-left: auto;
  max-width: 300px;
}

.logo {
  display: block;
  flex: 1 0;
  text-align: center;
}


.menu {
align-self: center;
border-color: rgb(0, 87, 71);
border-radius: 4px;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
cursor: pointer;
text-size-adjust: 100%;
text-transform: uppercase;
font-size: 12px;
background-color: rgb(255, 255, 255);
outline: none;
}

.menu:hover{
  filter: invert(1);
  border-color: rgb(241, 241, 241);
}

#menustuff {
  display: flex;
  flex-flow: nowrap;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  
}
.menu-padding{
  padding: 3px 0px 0px 5px;
}
.menu-icon{
  padding-left: 5px;
}
.nav-icons {
  height: 52px;
  width: 190px;
  margin-left: 10px;
  justify-content: flex-end;
}

main {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  
}

/* Side Navbar */

.nav-body {
  display: grid;
  grid-template-columns: 215px;
  grid-template-rows: 35px 35px 35px 35px 35px 1fr;
  grid-area: navbar;
  grid-column: 1/2;
  grid-row: 2/3;
  grid-gap: 5px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
    height: 100vh;
  padding: 20px 10px 5px 10px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.05);
  border-right: .1rem solid rgba(0,0,0,.1);
  margin-bottom: .8rem;
  position: relative;
  z-index: 1;
}

.leadership,.premier, .team-2, .team-1, .operations{
  display: grid;
  align-self: center;
  border-radius: .4rem;
  margin: 5px 10px;
  padding: .5rem 1rem;
  font-weight: 600;
  font-size: 16px;
  font-style: inherit;
  color: #667d88;
  background-color: rgb(255, 255, 255);
  border-style: none;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.primaryColorbg {
  display: grid;
  align-self: center;
  border-radius: .4rem;
  margin: 5px 10px;
  padding: .5rem 1rem;
  font-weight: 600;
  font-size: 1rem;
  font-style: normal;
  color: #f5f5f5;
  background-color: #03213c;
  border-style: none;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
}

.leadership:hover, .premier:hover, .team-1:hover, .team-2:hover, .operations:hover{
  background-color: rgb(241, 241, 241);
  border-width: .1px;
}

.leadership:active, .premier:active, .team-2:active, .team-1:active, .operations:active{
  filter: invert(1);
  border-width: .1px;
}

.leadership-team, .premier-team, .team-2-team, .team-1-team, .operations-team{
  justify-self: start;
}

/* bios */

#bd-cards-container {
  width: 100%;
  height: 100vh;
  padding: 2rem;
  color: #00273b;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  box-sizing: border-box;
  transition: all 1s;
  overflow-y: scroll;
}


.team-member {
  height: 450px;
  max-width: 350px;
  min-width: 350px;
  margin: 20px;
  border: .1rem solid rgba(0,0,0,.1);
  background-color: #fff;
  box-shadow: 0.1rem 0.1rem 0.6rem 0 rgba(1,2,2,.45);
}

.name {
  font-weight: 600;
  max-width: 24rem;
  font-size: 1rem;
  padding: 0px 0px 0px 20px;
  text-align: center;
}

.pic{
  padding: 0px 20px 0px 20px;
  box-sizing: border-box;
  display: grid;
}
.pic-1{
  border-radius: 100px;
  place-self: center;
  box-shadow: 0.1rem 0.1rem 0.6rem 0 rgba(1,2,2,.45);
}

.bio{
  font-size: .75rem;
  text-align: justify;
  box-sizing: border-box;
  margin: 10px;
  padding: 0px 20px;
}

/* begin flip card */

 .flip-card-inner:hover {
  transform: rotateY(180deg);
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front{
background-color: #fff;
}

.flip-card-back {
box-sizing: border-box;
padding: 20px; 
background-color: #fff;
transform: rotateY(180deg);
}
/* end flip card */